<header class="header">
  
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <div class="header__logo">
          <a href="./index.html">
            <img class="logo" src="./../../../../assets/img/logo.png" alt="" />
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <nav class="header__menu">
          <ul>
            <li class="active"><a href="./index.html">Home</a></li>
            <li>
              <a routerLink="/shop">Shop</a>
            </li>

            <!-- <li><a routerLink="/blog">Blog</a></li> -->
            <li><a routerLink="/contact-us">Contact</a></li>
            <li><a routerLink="/about">About Us</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-5">
        <nav class="header__menu">
          <ul>
            <div class="hero__search__form">
              <form action="#">
                <div class="hero__search__categories">
                  All Categories
                  <span class="arrow_carrot-down"></span>
                </div>
                <input type="text" placeholder="What do yo u need?" />
                <button type="submit" class="site-btn">SEARCH</button>
              </form>
            </div>
          </ul>
        </nav>
      </div>
      
    </div>
    <div class="humberger__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
