<!-- <header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
        <div class="header__logo">
          <a href="./index.html">
            <img class="logo" src="./../../../../assets/img/logo.png" alt="" />
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <nav class="header__menu">
          <ul>
            <li class="active"><a href="./index.html">Home</a></li>
            <li>
              <a routerLink="/shop">Shop</a>
            </li>

            <li><a routerLink="/contact-us">Contact</a></li>
            <li><a routerLink="/about">About Us</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-5">
         <nav class="header__menu">
          <ul>
            <div class="hero__search__form">
              <form action="#">
                <div class="hero__search__categories">
                  All Categories
                  <span class="arrow_carrot-down"></span>
                </div>
                <input type="text" placeholder="What do yo u need?" />
                <button type="submit" class="site-btn">SEARCH</button>
              </form>
            </div>
          </ul>
        </nav> 
      </div>
      
    </div>
    <div class="humberger__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header> -->

<header class="header">
  <nav class="navbar navbar-expand-lg bg-white row">
    <div class="container">
      <a class="navbar-brand logoWrapper col-sm-6" href="#">
        <img src="assets/img/logo.png" class="logo" alt="" srcset="" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse col-sm-6 justify-content-end d-flex"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item fw-bold">
            <a class="nav-link active text-success" aria-current="page" href="#"
              >Home</a
            >
          </li>
          <li class="nav-item fw-bold">
            <a class="nav-link active" aria-current="page" routerLink="/shop"
              >Shop</a
            >
          </li>
          <li class="nav-item fw-bold">
            <a class="nav-link active" aria-current="page" routerLink="/about"
              >About</a
            >
          </li>
          <li class="nav-item fw-bold">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/contact-us"
              >Contact Us</a
            >
          </li>

          <li class="nav-item" *ngIf="!token">
            <button
              class="nav-link active btn mx-2 px-3 fx-bold signUpLogin"
              aria-current="page"
              routerLink="/login"
            >
              Login
            </button>
          </li>

          <li class="nav-item" *ngIf="!token">
            <button
              class="nav-link active btn px-3 signUpLogin"
              aria-current="page"
              routerLink="/signup"
            >
              Signup
            </button>
          </li>

          <li class="nav-item" *ngIf="token">
            <button
              class="nav-link active btn px-3 signUpLogin"
              aria-current="page"
              routerLink="/"
              (click)="signout()"
            >
              SignOut
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
