.aboutUsWrapper{
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sectionPara{
    width: 70%;
    text-align: center;
}
.para{
    color: #000;
    font-size: medium;
    font-weight: 600;
    
}