<section class="mt-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-12">
            <div class="container mt-3">
              <!-- <form [formGroup]="filterForm" (ngSubmit)="submit()">
                <div class="row">
                  <div class="col-lg-4">
                    <input type="text" formControlName="title" />
                  </div>
                  <div class="col-lg-4">
                    <input type="number" formControlName="price" />
                  </div>
                  <div class="col-lg-4">
                    <button class="btn btn-primary" type="submit">
                      Search
                    </button>
                    <button
                      class="btn btn-primary"
                      (click)="addProduct()"
                      type="button"
                    >
                      Add Products
                    </button>
                  </div>
                </div>
              </form> -->
              <section>
                <div class="container-fluid mb-5">
                  <form [formGroup]="filterForm" (ngSubmit)="submit()">
                    <div class="row d-flex justify-content-center align-items-center">
                      <div class="col-lg-4  d-flex align-items-center justify-content-end ">
                        <input type="text" placeholder="Filter by Title" formControlName="title" class="inputFields w-100" />
                      </div>
                      <div class="col-lg-4">
                        <input type="number" placeholder="Filter by Price" formControlName="price" class="inputFields w-100" />
                      </div>
                      <div class="col-lg-2">
                        <button class="btn btnSearch btnShopNow w-100" type="submit">Search</button>
                      </div>
                        <div class="col-lg-2 " style="padding: 0 !important;">

                          <button
                      class="btn btnSearch btnAddProduct w-100"
                      (click)="addProduct()"
                      type="button"
                    >
                      Add Products
                    </button>
                      </div>
                    </div>
                  </form>
                </div>
              </section>
            </div>
          </div>
        </div>
         <!-- <div class="row featured__filter d-flex align-items-center">
          <ng-container *ngFor="let product of products">
            <div class="card mx-2 my-2 container-fluid border-1-solid col-sm-3"  >
              <img [src]="product.thumbnail" class="card-img-top" alt="..." />
              <div class="card-body">
                <div class="row">
                  <div class="col-6">{{ product.title }}</div>
                  <div class="col-3">{{ product.kgs }}</div>
                  <div class="col-3">{{ product.price + "$" }}</div>
                </div>
                <div class="row">
                  <div class="col-12 d-flex flex-row justify-content-center">
                    <button (click)="updateQuantity(product, '-')">-</button>
                    <p class="w-25 text-center">{{ product.quantity }}</p>
                    <button (click)="updateQuantity(product, '+')" class="">
                      +
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 d-flex flex-row justify-content-center">
                    <button
                      class="btn btn-primary"
                      (click)="addtoCart(product)"
                    >
                      Add to cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>  -->
         <div class="row m-auto featured__filter d-flex  align-items-center">
          <ng-container *ngFor="let product of products">
            <div class="card mx-2 my-2 container-fluid border-1-solid" style="width: 16rem">
              <img [src]="product.thumbnail" class="card-img-top" alt="..." />
              <div class="card-body text-center">
                <div class="productTitle">{{ product.title }}</div>
                <div class="row d-flex justify-content-center pt-2">
                  
                  <div class="col-sm-6 text-end productQuantity">1Kg</div>
                  <div class="col-sm-6 text-start">{{ product.price + "$" }}</div>
                </div>

                <div class="row p-3 m-2">
                  <div class="col-12 d-flex flex-row justify-content-center ml-4">
                    <button class="signBtn" (click)="updateQuantity(product, '-')">-</button>
                    <p class="m-auto">{{ product.quantity }}</p>
                    <button class="signBtn" (click)="updateQuantity(product, '+')">
                      +
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 d-flex justify-content-center align-items-center pt-3">
                    <button class="btn btnShopNow" >
                      Shop Now
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <!--  -->
      <div class="col-4">
        <table class="mb-5">
          <thead class="tableHead">
            <tr>
              <th>
                <p>Products</p>
              </th>
              <th>
                <p>Quantity</p>
              </th>
              <th>
                <p>Price</p>
              </th>
              <th>
                <p>Total Price</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cart">
              <td>
                <p>{{ item.title }}</p>
              </td>
              <td>
                <p>{{ item.quantity }}</p>
              </td>
              <td>
                <p>{{ item.price }}</p>
              </td>
              <td>
                <p>{{ item.totalPrice }}</p>
              </td>
              <td>
                <button class="btn btn-danger" (click)="removeFromCart(item)">
                  Delete
                </button>
              </td>
            </tr>
            <!-- Add more rows as needed -->
          </tbody>
        </table>
        <div class="row">
          <div class="col">
            <button class="btn btn-outline-success" style="border-color: #7fad39; color: #7fad39" (click)="clearCart()">
              Clear cart
            </button>
          </div>
          <div class="col">
            <p>Total: {{ totalPrice }}</p>
          </div>
          <div class="col">
            <button class="btn btn-outline-success" style="border-color: #7fad39; color: #7fad39" (click)="checkout()">
              Checkout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
