<!-- Breadcrumb Section Begin -->
<app-breadcrumb title="FreshForYou Shop"></app-breadcrumb>
<!-- Breadcrumb Section End -->

<section class="mt-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-12">
            <div class="container mt-3">
              <form [formGroup]="filterForm" (ngSubmit)="submit()">
                <div class="row">
                  <div class="col-lg-4">
                    <input type="text" formControlName="title" />
                  </div>
                  <div class="col-lg-4">
                    <input type="number" formControlName="price" />
                  </div>
                  <div class="col-lg-4">
                    <button class="btn btn-primary" type="submit">
                      Search
                    </button>
                    <button
                      class="btn btn-primary"
                      (click)="addProduct()"
                      type="button"
                    >
                      Add Products
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <ng-container *ngFor="let product of products">
            <div class="card" style="width: 18rem">
              <img [src]="product.thumbnail" class="card-img-top" alt="..." />
              <div class="card-body">
                <div class="row">
                  <div class="col-6">{{ product.title }}</div>
                  <div class="col-3">{{ product.kgs }}</div>
                  <div class="col-3">{{ product.price + "$" }}</div>
                </div>
                <div class="row">
                  <div class="col-12 d-flex flex-row justify-content-center">
                    <button (click)="updateQuantity(product, '-')">-</button>
                    <p class="w-25 text-center">{{ product.quantity }}</p>
                    <button (click)="updateQuantity(product, '+')" class="">
                      +
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 d-flex flex-row justify-content-center">
                    <button
                      class="btn btn-primary"
                      (click)="addtoCart(product)"
                    >
                      Add to cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-4">
        <table>
          <thead>
            <tr>
              <th>
                <p>Products</p>
              </th>
              <th>
                <p>Quantity</p>
              </th>
              <th>
                <p>Price</p>
              </th>
              <th>
                <p>Total Price</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cart">
              <td>
                <p>{{ item.title }}</p>
              </td>
              <td>
                <p>{{ item.quantity }}</p>
              </td>
              <td>
                <p>{{ item.price }}</p>
              </td>
              <td>
                <p>{{ item.totalPrice }}</p>
              </td>
              <td>
                <button class="btn btn-danger" (click)="removeFromCart(item)">
                  Delete
                </button>
              </td>
            </tr>
            <!-- Add more rows as needed -->
          </tbody>
        </table>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary" (click)="clearCart()">
              Clear cart
            </button>
          </div>
          <div class="col">
            <p>Total: {{ totalPrice }}</p>
          </div>
          <div class="col">
            <button class="btn btn-primary" (click)="checkout()">
              Checkout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
